# Xcode
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.moved-aside
*.pbxuser
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM
Pods/
.build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.swiftpm/
Package.resolved
